@media only screen and (max-width: 1502px){
    .section6-list{
        width: auto;
        overflow-x: scroll; 
    }
    .section6{
        margin: 0;
        padding: 10px 25px;
    }
    .switch{
        background-size: 100%;
    }
}
@media only screen and (max-width: 1024px) {
    .fixed-nav{
        display: none;
    }
    .nav li a{
        font-size: 22px;
        font-weight: 600;
    }
    .mobile-nav{
        background-image: url(images/hero-bj.webp);
        padding-top: 5px;
        background-repeat: no-repeat;
        background-position: top right;
        background-size: cover;
        max-width: 100%;
        display: flex;
        margin: 0px;
        padding: 30px 50px ;
        justify-content: space-between;
        align-items: center;
    }
    .flag{
        margin: 0;
       
    }
    .flag img {
        width: 55px;
    }
    .mlogo img{
        width: 220px;
        height: auto;
        padding: 0%;
        margin-top: 10px;
        margin-left: 25px;
        align-content: flex-start;
    }
   .menubutton img{
        width: 75px;
        margin-top: 20px;
        margin-right: 25px;
        align-content: flex-end;
    }
    .intro{
        flex-direction: column;
        margin: 10px 0px 0px 0px;
        padding: 10px 25px;
    }
    .nav{
        margin: 0px 100px;
    }
    .navbar{
        margin: 0px 100px;
    }
    .section1{
        padding: 100px 25px 0px 25px ;
    }
    .body h1{
        font-family: Aeonik, sans-serif;
    }
    #image1{
        margin:100px 100px;
        width: 700px;
        height: 900px;
    }
    .section2{
        margin: 0%;
        padding: 10px 25px;
    }

    .section2 h1, .section3 h2, .sec4body h2, .section6 h2, .section5 h2 {
        font-size: 80px;
    }

    .section3 {
        padding: 25px;
    }
    .getstarted{
        font-size: 30px;
    }
    #sec2img {
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        height: auto;
        max-height: 100%
    }

    #sec2img img {
        width: 80%;
        height:  80%;
    }

    .sec3body{
        margin: 0px;
        padding: 10px 25px;
    }
    .section3-list{
        flex-wrap: wrap;
    }
    .section4{
        margin: 0%;
        padding: 50px 25px;
    }
    .sec4body h2{
        margin-right:0;
    }
    .section4-list{
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    .li {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
        background-color: white;
        border-radius: 20px;
        margin: 20px 0;
        padding: 10px;
        font-size: 40px;
    }

    .li .svg {
        width: 20%;
    }

    .sec4body h2{
        text-align: center;
    }

    .sec4body{
        margin: 65px 8px;
    }
    
    .section5{
        margin: 55px 10px;
        padding: 10px 25px;
    }
    .section5-list ul{
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }
    .section5-list ul li{
        width: 80%;
        font-size: 20px;
        padding: 60px;
    }

    .section5-list, .section6-list{ 
        margin: 80px 0;
    }

    .section6 h2{
        margin-right: 0;
    }
    .sect7-body{
        margin: 0%;
        padding: 80px 25px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .sect7-img{
        margin: 10px 200px;
        max-width: 50%;
    }
    .footer-body{
        margin: 0%;
        padding: 10px 25px;
    }
    #footitems{
        flex-wrap: wrap;
    }
    #sec2body{
        flex-wrap: wrap;
        flex-direction: column;
        margin-bottom: 100px;
    }
    .body h1{
        font-size: 7rem !important;
        line-height: 120px;
        font-weight: 700;
        margin-right:0 ;
        margin-bottom: 5rem;
        width: 100%;
    }

    .body p{
        font-size:42px ;
        font-weight: 700 !important;
        line-height: 70px;
    }

    .body{
        margin-right: 0;
    }

    .store{
        max-width:100%;

    }

    .store div {
        width: 50%;
    }

    .store a img {
        width: 380px;
        height: auto;
    }
}
/*@media only screen and (max-width: 500px){
    .body h1{
        font-size: 7rem !important;
        line-height: 120px;
        font-weight: 700;
    }
    .body p{
        font-size: 16px !important;
    }
    .switch{
        padding: 0px 25px;
        margin: 0%;
    }
    .nav{
        margin: 0%;
    }
    .navbar{
        padding: 0px 25px;
        margin: 0%;
    }
    .container-1{
        display: none;
    }
    #log-in{
        display: none;
    }
    .flag{
        margin-top: 10px;
        margin-right: 70px;
    }
    .intro{
        margin: 100px 0px 0px 0px;
    }
    .section5-list ul{
        margin: 0%;
        flex-direction: column;
    }
    .section5-list ul li{
        max-width: 100%;
        margin-left: 150px;
    }
    .sect7-img{
        margin: 20px 20px;
    }
    #footitems{
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    #footitems h4{
        font-size: 20px;
    }
    #footitems a{
        font-size: 21px;
    }
    #items2 h4{
        font-size: 20px;
    }
    #items2 a{
        font-size: 21px;
    }
    .buttomtext p{
        font-size: 16px;
    }
}